body {
	margin: 0;
}

.grid {
	margin: 0 auto;
}

/* fluid 5 columns */
.grid-item {
	width: 200px;
	height: 200px;
	float: left; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

/* 2 columns */
.grid-item--width2 { width: 410px}
.grid-item--height2 { height: 410px; }

.row {
	/* order important so don't override new syntax with old */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height: auto;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
}

.control {
	cursor: pointer;
	font-family: "Dosis", sans-serif;
}

.control:hover {
	color: #15bde8;
}

.large {
	-ms-flex: 5 0 0;
	-webkit-flex: 5 0 0;
	flex: 5 0 0;
}

.small {
	-ms-flex: 1 0 0;
	-webkit-flex: 1 0 0;
	flex: 1 0 0;
}

.content {
	opacity: 0;
	padding: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	background-color: rgba(230, 230, 230, 0.8);
}

.content:hover {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.central {
	width: 700px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#intro {
	margin-right: 20px;
	margin-left: 20px;
	height: 500px;
}

#intro-text {
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#intro-text h5 {
	margin-top: 2em;
}

header {
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	top: 0;
	z-index: 9999;
}

#header-placeholder {
	height: 50px;
}

.active {
	border-bottom: 3px solid #15bde8;
}

#portfolio-nav {
	margin-bottom: 20px;
}

#home {
	cursor: pointer;
}

.button {
	display: inline-block;
    border: none;
    padding: 0.7rem 1.4rem;
    margin: 0;
    text-decoration: none;
    background: #15bde8;
    color: #ffffff;
	font-family: "Dosis", sans-serif;
	font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
		transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
    background: #13a6ca;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}

.container {
	padding: 20px;
	background-color: #f3f3f3;
}

label {
	font-family: 'Dosis', sans-serif;
	display: block;
	margin-bottom: 0.2em;
}

input {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	display: block;
	margin-bottom: 1em;
}

form .button {
	margin-left: 10px;
	margin-top: 1em;
}

textarea {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	display: block;
	height: 300px;
}

#share-icons {
	display: block;
}

.contact {
	list-style: none;
	padding-left: 0px;
	width: 100%;
	height: 60px;
}

.contact li {
	float: left;
	margin-right: 5px;
}

.fa-circle {
	color: #15bde8;
}

.fa-stack-1x {
	color: white;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 31px;
	font-weight: 600px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	/* margin-left: 0.3em; */
	line-height: 1em;
	color: #333333;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 200;
	letter-spacing: 0.4em;
	text-align: center;
	color: #333333;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
}

h3 {
	font-family: 'Dosis', sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.5em;
	text-align: center;
	color: #333333;
}

h4 {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #333333;
}

h5 {
	font-family: 'Crimson Text', serif;
	font-weight: 300;
	font-style: italic;
	font-size: 55px;
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #333333;
}

p {
	margin-top: 0.5em;
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	color: #333333;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	display: block;
}

.grid p {
	font-size: 15px;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

header p {
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;
}

footer p {
	font-size: 15px;
}

footer div {
	width: 190px;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	border-bottom: 1.5px solid black;
}

a:visited {
	color: black;
	text-decoration: none;
}

li a:hover {
	border-bottom: 0px;
}

.fa-stack:hover .fa-circle {
	color: #13a6ca;
}